# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testes
.env.test
playwright-report
test-results

# Build outputs
out/
*.log
err.log
vite-err.log
vite-out.log
vite.log
package-full.log
make-error.log
eslint-report.json
package-lock.json
