sss
.env
sss
.env
sss
.env
# Python
*.pyc
pycache/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.whl

Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

Docker
*.dockerignore
Dockerfile
docker-compose.yml
*.tar.gz
*.tar

IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace


# Pastas vazias
empty/

# Arquivos .env
!.env.example
